.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  border: none;
  outline: none;
  background: none;
  position: absolute;
  right: 50px;
}

.quote {
  width: 50%;
  padding: 0 100px;
  border-left: 1px solid red;
}

.button {
  margin-top: 200px;
}
